.result-container{
    background-color: rgb(191, 181, 211);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 75%;
}

.result-header{
    color: white
}