body{
    background-color: #282828;
    background-image: url('../images/background.svg');
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat; /* Adjust as needed */
    background-position: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    font-size: 25vh;
    color: #fff;
    position: relative;
    z-index: 0;
    margin-bottom: 45px;
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    background-size: 400%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: glowing 15s linear infinite, jumpIn 3s ease-out;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 200% 0; }
    100% { background-position: 0 0; }
}

@supports not (-webkit-text-fill-color: transparent) {
    .header {
        color: #ffffff; 
    }
}

@keyframes jumpIn {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    50% {
        transform: translateY(-10%);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
    }
}

.typewriter h2{
    color: #95ff00;
    text-shadow: 0 0 5px rgba(51, 255, 51, 0.75);
    font-family: monospace;
    overflow: hidden;
    border-right: .15em solid #95ff00; 
    white-space: nowrap; 
    margin: 10px 0 45px 0; 
    letter-spacing: .15em;
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }

.btn {
    padding: 15px;
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
    transition: all .5s ease; 
}

.btn-action {
    display: block;
    width: 100%;
    padding: 1rem 5rem;
    border-radius: 1.5rem;
    background-color: #fefefe;
    color: #000;
    font-size: 1.5rem;
    font-family: arial;
    font-weight: bold;
    transition: all .5s ease 0s; 
    box-shadow: 0 10px #ebebeb;
}

.btn-action:hover {
    background-color: #fefefe; 
    color: #000; 
}

.btn-action span {
    display: inline-block;
    position: relative;
    transition: all .5s ease;
}

.btn-action span:before {
    content: '\f04b'; 
    color: #000000;
    font-size: 1rem;
    font-family: FontAwesome;
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 2rem;
    opacity: 0;
    transition: all .1s ease 0s;
}

.btn-action:hover span {
    padding-left: 2rem; 
    color: rgb(0, 0, 0);
}

.btn-action:hover span:before {
    left: 0;
    opacity: 1;
}

